@font-face {
  font-family: 'MidnightDrive';
  src: url('MidnightDrive.eot');
  src: url('MidnightDrive.eot?#iefix') format('embedded-opentype'),
       url('MidnightDrive.svg#MidnightDrive') format('svg'),
       url('MidnightDrive.ttf') format('truetype'),
       url('MidnightDrive.woff') format('woff'),
       url('MidnightDrive.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

