@font-face {
  font-family: 'Gravity-Bold';
  src: url('Gravity-Bold.eot');
  src: url('Gravity-Bold.eot?#iefix') format('embedded-opentype'),
       url('Gravity-Bold.svg#Gravity-Bold') format('svg'),
       url('Gravity-Bold.ttf') format('truetype'),
       url('Gravity-Bold.woff') format('woff'),
       url('Gravity-Bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

