/* Grid Alignment  */
.category {
    display: block;
    margin: 0 auto;
}
.category img {
    max-width: 98%;
    width: 1611px;
    height: auto;
    padding-bottom: 25pt;
    opacity: .95;
}

.category img:hover {
    opacity: 1;
}

.grid_photo {
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 50% 50%;
}
  
.grid_photo .grid_item {
    text-align: center;
}
  
.grid_photo img {
    max-width: 99%;
    opacity: .9;
}
  
.grid_photo img:hover {
    -moz-box-shadow: 0 0 5px rgb(0, 0, 0);
    -webkit-box-shadow: 0 0 5px rgb(0, 0, 0);
    box-shadow: 0 0 5px rgb(0, 0, 0);
    opacity: 1;
}

  /* End Grid Alignment */