nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 3vh;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    width: 80%;
    padding-bottom: 20px;
  }

  .nav-links li {
    list-style: none;
  }
  
  .nav-links a {
    color: #5d4954;  
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 18px;
  }
  
  .nav-links a:hover {
    color: black;
  }
  
  .nav-links a.active {
    color: black;
  }

.banner_logo {
    height: auto;
    max-width: 70%;
    max-height: 100px;
}

.burger {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: #5d4954;
    margin: 5px;
    transition: all 0.3s ease;
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}
  
.toggleBurger .line1 {
    transform: rotate(-45deg) translate(-5px,6px);
}
  
.toggleBurger .line2 {
    opacity: 0;
}
  
.toggleBurger .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

@media only screen and (max-width:1100px) {
    .burger {
        z-index: 2;
        display: block;
        position: absolute;
        padding: 5% 0 0 1%;
    }

    nav {
        text-align: left;
    }

    .nav-links {
        z-index: 1;
        position: absolute;
        background-color: rgb(226, 226, 226);
        flex-direction: column;
        display: block;
        align-items: center;
        height: 100vh;
        top: 0;
        width: 25%;
        left: -100%;
        transition: 350ms;
        padding-left: 10px;
    }

    .nav-links.active {
        left: 0px;
        transition: 350ms;
    }
    
    .nav-links li.first{
        opacity: 0;
        padding-top: 8vh;
    }
    
    .nav-links li.notfirst {
        opacity: 0;
        padding-top: 2vh;
    }
}
