footer {
	height: 100px;
	background-color: #282c34;
	color: white;
}

.insta {
	color: burlywood;
	padding-right: 10pt;
}

.grid_footer {
    justify-content: space-around;
    align-items: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  h2 { 
    font-family: Copperplate, "Copperplate Gothic Light", fantasy; 
    font-size: 24px; 
    font-style: normal;
  }