* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Gravity_Regular;
}

.App-header {
  min-height: 100vh;
}

/* Fonts  */

@font-face {
  font-family: Gravity_Regular;
  src: url('./fonts/GravityRegular/Gravity-Book.eot');
  src: url('./fonts/GravityRegular/Gravity-Book.woff2') format('woff2'),
	   url('./fonts/GravityRegular/Gravity-Book.woff') format('woff'),
	   url('./fonts/GravityRegular/Gravity-Book.ttf') format('truetype'),
	   url('./fonts/GravityRegular/Gravity-Book.svg#customFont') format('svg'),
	   url('./fonts/GravityRegular/Gravity-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gravity_Bold;
  src: url('./fonts/GravityBold/Gravity-Bold.eot');
  src: url('./fonts/GravityBold/Gravity-Bold.woff2') format('woff2'),
	   url('./fonts/GravityBold/Gravity-Bold.woff') format('woff'),
	   url('./fonts/GravityBold/Gravity-Bold.ttf') format('truetype'),
	   url('./fonts/GravityBold/Gravity-Bold.svg#customFont') format('svg'),
	   url('./fonts/GravityBold/Gravity-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

/* END Fonts */

/* Media Screens */

@media only screen and (max-width:800px) {
  body {
    overflow-x: hidden;
  }
}

/* End Media Screens */