* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.App {
  text-align: center;
  font-family: Gravity_Regular;
}

.App-header {
  min-height: 100vh;
}

/* Navigation */
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3vh;
}

.logo {
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 80%;
  padding-bottom: 20px;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #5d4954;  
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 18px;
}

.nav-links a:hover {
  color: black;
}

.nav-links a.active {
  color: black;
}

.burger {
  display: none;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: #5d4954;
  margin: 5px;
  transition: all 0.3s ease;
}

.nav-active {
  transform: translateX(0%);
}

@media screen and (max-width:800px) {
  body {
    overflow-x: hidden;
  }

  nav {
      justify-content: left;
      align-items: center;
      min-height: 8vh;
      /* margin-top: -100px; */
  }
  .nav-links {
      z-index: 1;
      position: absolute;
      height: 100vh;
      top: 0;
      background-color: rgb(226, 226, 226);
      display: block;
      flex-direction: column;
      align-items: center;
      width: 25%;
      /* transform: translateX(0%); */
      transition: transform 0.3s ease-in;
  }
  .nav-links li.first{
      opacity: 0;
      padding-top: 8vh;
  }

  .nav-links li.notfirst {
      opacity: 0;
      padding-top: 2vh;
  }

  .burger {
      z-index: 2;
      display: block;
      position: absolute;
      padding: 5% 0 0 1%;
  }

  .landing_img {
      margin: 0 auto;
      height: auto;
      max-width: 100%;
  }
  .card img {
    margin: 0 auto;
    height: auto;
    max-width: 80%;
  }

}

@keyframes navLinkFade {
  from {
      opacity: 0;
      transform: translateX(-50px);
  }
  to {
      opacity: 1;
      transform: translateX(0px);
  }
}

.toggleBurger .line1 {
  transform: rotate(-45deg) translate(-5px,6px);
}

.toggleBurger .line2 {
  opacity: 0;
}

.toggleBurger .line3 {
  transform: rotate(45deg) translate(-5px,-6px);
}

/* End Media Screen */

.banner_logo {
  height: auto;
  max-width: 70%;
  max-height: 100px;
}

/* End Navigation */

footer {
	background-color: #282c34;
	color: white;
}

.insta {
	color: burlywood;
}

/* Media Screen  */


/* Grid Alignment  */

.grid {
  justify-content: space-around;
  align-items: center;
  display: grid;
  grid-template-columns: 33% 33% 33%;
}

.grid .grid_item {
  text-align: center;
}

.grid img {
  max-height: 250px;
  max-width: 95%;
}

.grid img:hover {
  -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.grid p {
  text-decoration: none;
  font-size: 17px;
  text-align: center;
}

/* End Grid Alignment */

/* Home Page */

.landing_img {
  margin: 0 auto;
  height: auto;
  max-height: 900px;
  max-width: 80%;
}

.card {
	display: flex;
	justify-content: space-evenly;
  padding-top: 50px;
  margin-left: 12%;
  width: 75%;
}

.card img {
  	height: 250px;
  	width: 250px;
}

.card img:hover {
  -moz-box-shadow: 0 0 10px rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 10px rgb(0, 0, 0);
  box-shadow: 0 0 10px rgb(0, 0, 0);
}

.card p {
	text-decoration: none;
	font-size: 20px;
	text-align: center;
}
/* End Home Page  */

/* Fonts  */

@font-face {
  font-family: Gravity_Regular;
  src: url('./fonts/GravityRegular/Gravity-Book.eot');
  src: url('./fonts/GravityRegular/Gravity-Book.woff2') format('woff2'),
	   url('./fonts/GravityRegular/Gravity-Book.woff') format('woff'),
	   url('./fonts/GravityRegular/Gravity-Book.ttf') format('truetype'),
	   url('./fonts/GravityRegular/Gravity-Book.svg#customFont') format('svg'),
	   url('./fonts/GravityRegular/Gravity-Book.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Gravity_Bold;
  src: url('./fonts/GravityBold/Gravity-Bold.eot');
  src: url('./fonts/GravityBold/Gravity-Bold.woff2') format('woff2'),
	   url('./fonts/GravityBold/Gravity-Bold.woff') format('woff'),
	   url('./fonts/GravityBold/Gravity-Bold.ttf') format('truetype'),
	   url('./fonts/GravityBold/Gravity-Bold.svg#customFont') format('svg'),
	   url('./fonts/GravityBold/Gravity-Bold.eot?#iefix') format('embedded-opentype');
  font-weight: bold;
  font-style: normal;
}

/* END Fonts */

